<div class="cotainer">
  <div class="card mt-3">
    <div class="card-header">
      <h3>Edit Product</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="exform" method="" action="">
        <div class="row">
        <div class="col-sm-4">
          <div class="mt-3 form-group text-center">
            <label> <img src="assets/images/{{pro.images}}"
              style="max-width: 100%; height: 200px;">
            </label>
          </div>
        </div>
        <div class="col-sm-8 row">
        <div class="mt-3 form-group col-sm-6">
          <label>Name</label>
          <input formControlName="name" [(ngModel)]="pro.name" type="text" class="form-control" />
          <small *ngIf=" exform.get('name')?.invalid && exform.get('name')?.touched" class="text-danger"> name trống </small>
        </div>
        <div class="mt-3 form-group col-sm-6">
          <label>Create Date</label>
          <input formControlName="create_Date" [(ngModel)]="pro.create_Date" type="date" class="form-control" />
          <small *ngIf=" exform.get('create_Date')?.invalid && exform.get('create_Date')?.touched" class="text-danger"> create date trống </small>
        </div>
        <div class="mt-3 form-group col-sm-6">
          <label>Price</label>
          <input formControlName="price" [(ngModel)]="pro.price" type="number" class="form-control" />
          <small *ngIf=" exform.get('price')?.invalid && exform.get('price')?.touched" class="text-danger"> price trống </small>
        </div>
        <div class="mt-3 form-group col-sm-6">
          <label>Quatity</label>
          <input formControlName="quantity" [(ngModel)]="pro.quantity" type="number" class="form-control" />
          <small *ngIf=" exform.get('quantity')?.invalid && exform.get('quantity')?.touched" class="text-danger"> quatity trống </small>
        </div>
        <div class="mt-3 form-group col-sm-6">
          <label>Image</label>
          <input formControlName="images" [(ngModel)]="pro.images" type="file" class="form-control" />
          <small *ngIf=" exform.get('images')?.invalid && exform.get('images')?.touched" class="text-danger"> images trống </small>
        </div>
        <div class="mt-3 col-sm-6">
          <label> Category </label>
          <select formControlName="categoryId" [(ngModel)]="pro.category_Id" class="form-control">
            <option *ngFor="let cate of cates" [value]="cate.id"> {{cate.name}} </option>
          </select>
          <small *ngIf="exform.get('categoryId')?.invalid && exform.get('categoryId')?.touched" class="text-danger"> Category trống </small>
        </div>
      </div>
      </div>
      <div class="mt-3">
        <button type="button" [disabled]="exform.invalid" (click)="Update(pro)" class="btn btn-success me-3 mt-3"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg> Update</button>
        <button (click)="Reset()" class="btn btn-danger mt-3 me-3"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
        </svg> Reset</button>
        <button (click)="List()" class="btn btn-info mt-3 me-3"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
        </svg> Quay Lại</button>
      </div>
      </form>
    </div>
  </div>
</div>

