<div>
  <div class="card mt-3">
    <div class="card-header">ORDER INFORMATION</div>
    <div class="card-body">
      <div class="card-title">
        <div class="row">
          <div class="row">
            <div class="form-group col-sm-6">
              <label> Order Number: </label>
              <input disabled class="form-control" [(ngModel)]="order.id" readonly  />
            </div>
            <div class="form-group col-sm-6">
              <label> Purcchaser: </label>
              <input disabled class="form-control" [(ngModel)]="order.email_user" readonly />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label> Purcchased Date: </label>
              <input disabled class="form-control" [(ngModel)]="order.create_date" readonly />
            </div>
            <div class="form-group col-sm-6">
              <label> Status: </label>
              <input disabled class="form-control" [(ngModel)]="order.status" readonly />
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group col-sm-12">
              <label> Shipping Address: </label>
              <textarea disabled class="form-control" [(ngModel)]="order.address" readonly></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">ORDER LINES</div>
    <ul class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Order</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{orderDetail.order_id.id}} </td>
            <td> {{orderDetail.product_id.name}} </td>
            <td> {{orderDetail.price}} </td>
            <td> {{orderDetail.quantity}} </td>
          </tr>
        </tbody>
      </table>
    </ul>
  </div>
</div>
