<div class="cotainer">
  <div class="card mt-3">
    <div class="card-header">
      <h3>Update User</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="exform" method="" action="">
        <div class="mt-3 form-group">
          <label>Fullname</label>
          <input formControlName="fullname" [(ngModel)]="user.fullname" type="text" class="form-control" />
          <small *ngIf="exform.get('fullname')?.invalid && exform.get('fullname')?.touched" class="text-danger"> fullname trống </small>
        </div>
        <div class="mt-3">
          <label>Email</label>
          <input formControlName="email" [(ngModel)]="user.email" type="text" class="form-control" />
          <small *ngIf="exform.get('email')?.invalid && exform.get('email')?.touched" class="text-danger"> email không đúng định dạng </small>
        </div>
        <div class="mt-3">
          <label>Birthday</label>
          <input formControlName="birthday" [(ngModel)]="user.birthday" type="date" class="form-control" />
          <small *ngIf="exform.get('birthday')?.invalid && exform.get('birthday')?.touched" class="text-danger"> birthday trống </small>
        </div>
        <div class="mt-3">
          <label>Gender</label>
            <div class="form-check">
              <input formControlName="gender" [(ngModel)]="user.gender" type="radio" class="form-check-input" value="Nam"/>
              <label> Male </label>
            </div>
            <div class="form-check">
              <input formControlName="gender" [(ngModel)]="user.gender" type="radio" class="form-check-input" value="Nữ"/>
              <label> Female </label>
            </div>
          </div>
          <small *ngIf="exform.get('gender')?.invalid && exform.get('gender')?.touched" class="text-danger"> gender trống </small>
        <div class="mt-3">
          <label>Address</label>
          <input formControlName="address" [(ngModel)]="user.address" type="text" class="form-control" />
          <small *ngIf="exform.get('address')?.invalid && exform.get('address')?.touched" class="text-danger"> address trống </small>
        </div>
        <button [disabled]="exform.invalid" (click)="Update(user)" class="btn btn-success mt-3">Update</button>
        <button (click)="Reset()" class="btn btn-danger mt-3 ml-3">Reset</button>
        <button (click)="List()" class="btn btn-info mt-3 ml-3">Quay Lại</button>
      </form>
    </div>
  </div>
</div>

