<div>
  <div class="card mt-3">
    <div class="card-header">
      <h3> Change Password </h3>
    </div>
    <div class="card-body">
      <form [formGroup]="exform" method="" action="">
        <div class="mt-3 form-group">
          <label> Fullname </label>
          <div class="form-control"> {{ user.fullname }} </div>
        </div>
        <div class="mt-3 form-group">
          <label> Email </label>
          <div class="form-control"> {{ user.email }} </div>
        </div>
        <div class="mt-3 form-group">
          <label> Old Password <span class="text-danger">*</span> </label>
          <input formControlName="passwordOld" [(ngModel)]="passwordOld" type="password" class="form-control" />
          <small *ngIf=" exform.get('passwordOld')?.invalid && exform.get('passwordOld')?.touched" class="text-danger" > password phải lớn hơn 6 kí tự </small>
        </div>
        <div class="mt-3 form-group">
          <label> New Password <span class="text-danger">*</span> </label>
          <input formControlName="password" [(ngModel)]="passwordNew" type="password" class="form-control" />
          <small *ngIf=" exform.get('password')?.invalid && exform.get('password')?.touched" class="text-danger" > password phải lớn hơn 6 kí tự </small>
        </div>
        <button [disabled]="exform.invalid" (click)="Update(user)" class="btn btn-success me-3 mt-3" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
          </svg> Change Password
        </button>
        <button [routerLink]="['/yourProfile']" class="btn btn-info mt-3 me-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16" >
            <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
          </svg> Come Back
        </button>
      </form>
    </div>
  </div>
</div>
