<div class="cotainer">
  <div class="card mt-3">
    <div class="card-header">
      <h3>Create Category</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="exform" method="" action="">
        <div class="mt-3 form-group">
          <label>Name</label>
          <input formControlName="name" [(ngModel)]="cate.name"type="text" class="form-control" />
          <small *ngIf=" exform.get('name')?.invalid && exform.get('name')?.touched" class="text-danger"> name trống </small>
        </div>
        <button type="button" [disabled]="exform.invalid" (click)="save()" class="btn btn-success mt-3">Create</button>
      </form>
    </div>
  </div>
</div>
