<div class="container">
<!-- <header>
  <div
    id="carouselExampleInterval"
    class="carousel slide p-0"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src=""
          style="height: 400px"
          class="d-block w-100"
          data-bs-interval="2000"
        />
      </div>
      <div class="carousel-item">
        <img
          src=""
          style="height: 400px"
          class="d-block w-100"
          data-bs-interval="2000"
        />
      </div>
      <div class="carousel-item">
        <img
          src=""
          style="height: 400px"
          class="d-block w-100"
          data-bs-interval="2000"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>`
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" [routerLink]="['/list']" > Quản Lý User </a></li>
          <li class="nav-item"><a a class="nav-link active"
            aria-current="page" [routerLink]="['/login']" >Đăng Nhập</a></li>
			</ul>
      <ul class="navbar-nav me-right mb-2 mb-lg-0">
      </ul>
		</div>
	</div>
</nav>

<router-outlet></router-outlet>

  <footer class="bg-dark text-white text-center mt-3">
    <p>Quang26 &copy; 2022. All rights reserved.</p>
  </footer>
</div>
