<div class="container">
  <div class="card mt-3">
    <div class="card-header">YOUR ORDERS PURCHASED</div>
    <div class="card-body">
      <ul class="card-title">
        <table class="table table-bordered">
          <thead>
            <tr class="text-center">
              <th>NO.</th>
              <th>Email</th>
              <th>Order Date</th>
              <th>Shipping Address</th>
              <th>Status</th>
              <th colspan="3" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of orders | paginate : { itemsPerPage: tableSize, currentPage: page, totalItems: count }; let i = index">
              <td> #{{ i + 1 }} </td>
              <td> {{ o.email }} </td>
              <td> {{ o.create_date }} </td>
              <td> {{ o.address }} </td>
              <td> {{ o.status }} </td>
              <td>
                <button [routerLink]="['/detail-order']" class="btn btn-default btn-primary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-eye-fill"
                    viewBox="0 0 16 16" >
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                  </svg> Xem Chi Tiết
                </button>
              </td>
              <td> <button (click)="update(o)" class="btn btn-default btn-success"> Xác Nhận </button> </td>
              <td> <button (click)="update2(o)" class="btn btn-default btn-danger"> Hủy Đơn Hàng </button> </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center mt-3">
          <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"></pagination-controls>
        </div>
      </ul>
    </div>
  </div>
</div>
