<div>
  <div class="card mt-3">
    <div class="card-header">
      <h3>Create Product</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="exform" method="" action="">
        <div class="mt-3 form-group">
          <label>Name</label>
          <input formControlName="name" [(ngModel)]="pro.name" type="text" class="form-control" />
          <small *ngIf=" exform.get('name')?.invalid && exform.get('name')?.touched" class="text-danger"> name trống </small>
        </div>
        <div class="mt-3 form-group">
          <label>Image</label>
          <input formControlName="images" [(ngModel)]="pro.images" (change)="onChange()" type="file" class="form-control" />
          <small *ngIf=" exform.get('images')?.invalid && exform.get('images')?.touched" class="text-danger"> images trống </small>
        </div>
        <div class="mt-3 form-group">
          <label>Create Date</label>
          <div class="form-control" >{{ createDate | date:'dd/MM/yyyy'}}</div>
        </div>
        <div class="mt-3 form-group">
          <label>Price</label>
          <input formControlName="price" [(ngModel)]="pro.price" type="number" class="form-control" />
          <small *ngIf=" exform.get('price')?.invalid && exform.get('price')?.touched" class="text-danger"> price trống </small>
        </div>
        <div class="mt-3">
          <label> Category </label>
          <select formControlName="categoryId" [(ngModel)]="pro.category_id.id" class="form-control">
            <option *ngFor="let cate of cates" [value]="cate.id"> {{cate.name}} </option>
          </select>
          <small *ngIf="exform.get('categoryId')?.invalid && exform.get('categoryId')?.touched" class="text-danger"> Category trống </small>
        </div>
        <button type="button" [disabled]="exform.invalid" (click)="Save(pro)" class="btn btn-success mt-3"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg> Create</button>
      </form>
    </div>
  </div>
</div>
